# Docs
Sphinx==5.3.0
sphinx-rtd-theme==1.1.1
sphinx-autoapi==2.0.0
sphinxext-opengraph==0.7.5
sphinx-autodoc-typehints==1.21.1

# Packaging
wheel==0.38.4
twine==4.0.2
build==0.10.0

# Formatting
black  ; python_version >="3.6"

# Utilities
pgeocode==0.3.0